/* ==========================================================================
   #Generic Box-sizing
   ========================================================================== */

//Základní box-sizing

html {
  box-sizing: border-box;
}

* {

  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }

}
